/* You can add global styles to this file, and also import other style files */

$pink: #ce1351;
$grey: #c1c1c1;
$lightgrey: #f7f7f7;
$darkgrey: #787878;

.text-grey {color: $grey;}
h5 {color: $pink;}
body {font-family: 'Poppins', sans-serif !important;}

